:root {
    --width: 500pt;
    --total-width: 524pt;
    --padding: 12pt;
    --margin: -12pt;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 16px;
    --shadow-rad: 6pt;
    --navbar-height: 24pt;
    --navbar-width: 600pt;
}

@font-face {
    font-family: SourceSerif;
    src: url(SourceSerifFont/SourceSerifPro-Regular.ttf);
}

@font-face {
    font-family: SourceSerif;
    src: url(SourceSerifFont/SourceSerifPro-SemiBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: SourceSerif;
    src: url(SourceSerifFont/SourceSerifPro-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: RobotoSlabLight;
    src: url(RobotoSlabFont/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: RobotoSlabLight;
    src: url(RobotoSlabFont/RobotoSlab-Regular.ttf);
    font-weight: bold;
}

@font-face {
    font-family: RobotoSlabLight;
    src: url(RobotoSlabFont/RobotoSlab-Thin.ttf);
    font-style: italic;
}

body {
    font-family: SourceSerif;
    background-color: #eeeeee;
    margin: 0;
    padding-top: var(--navbar-height);
}

a {
    text-decoration: none;
    color: #33f;
    transition: color 0.3s;
}

a:hover {
    color: #99f;
}

.parcel {
    display: block;
    margin: 0 auto;
    text-align: justify;
    background-color: white;
    border-radius: 4px;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-rad) rgba(0, 0, 0, 0.2);
    max-width: var(--width);
    width: 100%;
    padding-top: 0;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: var(--padding);
    margin-bottom: var(--padding);
}

.parcel-title {
    text-align: center;
    margin-left: var(--margin);
    margin-right: var(--margin);
    background-color: #dddddd;
    max-width: var(--total-width);
    overflow: hidden;
    padding-left: var(--padding);
}

.parcel-title code {
    font-size: 50%;
    font-weight: regular;
    background-color: #444;
    padding: 2pt;
    border-radius: 2px;
    color: white;
}

.parcel-parents {
    text-align: center;
    float: center;
}

.parcel-parents ul {
    display: inline-block;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    font-size: 75%;
    border-left: solid 2px rgba(0, 0, 0, 0.3);
}

.parcel-parents li {
    display: block;
    padding: var(--padding);
}

.parcel-parents li a {
    text-decoration: none;
    padding: 6pt;
    border: solid 1px #888888;
    border-radius: 4px;
    color: inherit;
    opacity: 0.5;
    transition: box-shadow 0.3s, background-color 0.3s, opacity 0.3s, border 0.3s;
}

.parcel-parents li a:hover {
    opacity: 1.0;
    border: none;
    background-color: white;
    box-shadow: inset -0.5px -0.5px 3px 0.125em rgba(0, 0, 0, 0.4);
}

.parcel-relevant-links {
    max-width: var(--width);
    text-align: center;
    margin: 0 auto;
    margin-top: 12pt;
    float: center;
    font-family: robotoslablight;
    padding: 12pt;
    background: white;
    box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-rad) rgba(0, 0, 0, 0.3);
}

.parcel-relevant-links:before {
    content: "Relevant Notes";
    font-size: 125%;
    font-weight: bold;
    font-family: robotoslablight;
    display: block;
}

.parcel-relevant-links ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
}

.parcel-relevant-links li {
    padding: var(--padding);
    margin: auto;
    text-align: left;
    display: block;
}

.parcel-relevant-links li a {
    text-decoration: none;
    padding: 6pt;
}

.parcel-relevant-links li a:hover {
    border-bottom: 2px solid;
}

.bibliography {
    max-width: var(--width);
    padding: var(--padding);
    margin: 0 auto;
    background-color: #444;
    color: white;
    box-shadow: inset var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-rad) rgba(0, 0, 0,0.3);
}

.bibliography a {
    color: cornflowerblue;
}

.bibliography a:hover {
    color: lavender;
}

.navbar {
    position: fixed;
    margin: 0 auto;
    margin-bottom: 12pt;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    height: var(--navbar-height);
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar ul {
    max-width: var(--navbar-width);
    text-align: left;
    width: 100%;
    margin: 0 auto;
    list-style-type: none;
}

.navbar li {
    padding: 2pt;
}

.navbar li a {
    font-family: monospace;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 0;
    border-radius: 2pt;
    padding: 4pt;
    transition: box-shadow 0.3s, border 0.3s;
}

.navbar li a:hover {
    border: 2px solid #444444;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.1);
}

.MathJax_Display {
    overflow-x: auto;
    overflow-y: hidden;
}

.parcel img {
    max-width: var(--width);
    width: 100%;
    overflow: auto;
}

.figure p {
    overflow: auto;
}

.figure img {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: none;
    width: unset;
}

.parcel table {
    margin: auto;
}

pre.src {
    overflow: auto;
}

.theorem, .definition, .lemma, .corollary {
    box-shadow: inset 3pt 3pt 8pt 8pt rgba(0, 0, 0, 0.2);
    background-color: #eeeeee;
    padding: 6pt;
}

.theorem:before {
    content: "Theorem ("attr(id)"): ";
    font-weight: bold;
}

.definition:before {
    content: "Definition ("attr(id)"): ";
    font-weight: bold;
}

.lemma:before {
    content: "Lemma ("attr(id)"): ";
    font-weight: bold;
}

.corollary:before {
    content: "Corollary ("attr(id)"): ";
    font-weight: bold;
}

.proof:before {
    content: "Proof";
    font-weight: bold;
    font-style: italic;
}

.proof {
    margin: 12pt;
    padding: 2pt;
    background-color: #eeeecc;
    box-shadow: 3pt 3pt 6pt 2pt rgba(0, 0, 0, 0.2);
}

.proof:after {
    content: "QED.";
    font-weight: 800;
}
